img {
	margin-left:450px;
	align-self:center;
	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: right;
}

li a {
    display: block;
    
   text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
input[type="text"] {
 padding: 10px 0; }